* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  background: black;
  width: 100%;
}
.header .navbar-brand {
  margin-left: 24px;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  }
        .header ul li {
          list-style: none;
}

.header ul li a {
  text-decoration: none;
  color: white;
}
.card {
  border: none;
}
.card:hover {
  /* border: none; */
  box-shadow: rgba(36, 69, 169, 0.318) 0px 14px 28px, rgba(36, 97, 163, 0.338) 0px 10px 10px;
  cursor: pointer;
}

.card img:hover {
  margin-top: 3px;
}